<div class="main">
  <div class="content">
    <section class="header body">
      <div class="header-detail">
        <div class="container">
          <p class="title">Coming Soon</p>
        </div>
      </div>
    </section>
    <section class="body">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="page-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4" *ngFor="
                      let item of listFilm.reverse() | slice:2:16
                        | paginate: { itemsPerPage: 9, currentPage: p }
                    ">
                    <app-film [film]="item" (Trailer)="getTrailer($event)"> </app-film>
                  </div>
                  <pagination-controls class="paging" (pageChange)="p = $event"></pagination-controls>
                  <div class="backnow">
                    <span id="back-to-top"><i class="fas fa-chevron-up"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <app-ads-and-infor></app-ads-and-infor>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Trailer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <iframe width="100%" height="450px" [src]="videoUrl" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>