.myContainer{
    font-size: 17px;
    font-weight: 600;


 
   
    // .navs{

    // }
    .infors{
        .ImgFilm{
            height: auto;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .AlignItem{
                text-align: left;
                margin: auto;
                padding: 30%;

            }
        }
    }
}