.myContainer{
    font-size: 17px;
    font-weight: 600;
    .infors{
        .ImgFilm{
            border: solid black 1px;
            height: auto;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .AlignItem{
                text-align: center;
                margin: auto;
                padding: auto;

            }
        }
    }
}