.ChiTietPhim{
    .page-header{
        .HinhBG{
            width: 100%;
            height: 400px;
            vertical-align: middle;
        }
    }
    .page-bottom{
        .PageMain{
            border: solid transparent 1px;
            padding: 5% 0%;

        }

    }

}