<div class="bg-dark my-carousel-container">
  <div class="my-carousel-content">
    <div class="row">
      <div class="carousel01-left col-5">
        <div class="carousel01-left-container">
          <h2>WHAT'S ON <span>TODAY</span></h2>
          <p>AT MOVIEZONE CINEMA & THEATRES!</p>
          <p>All reserved seating - Choose your exact seat!</p>
          <p class="wr-disco-button">
            <a href="#fdaf" class="disco-button">DISCOVER NOW!</a>
          </p>
        </div>
      </div>
      <div class="carousel01-right col-7">
        <div class="row">
          <app-my-carousel01
            [slides]="slides"
            [options]="options"
            class="col-12"
            #carousel01
          >
            <app-my-carousel01-slide
              *ngFor="let slide of slides; let i = index"
              (click)="slideClicked(i)"
            >
              <img class="slide-img" src="{{ slide.src }}" alt="" />
            </app-my-carousel01-slide>
          </app-my-carousel01>
        </div>
      </div>
    </div>
  </div>
</div>
