<hr />
<div class="row soVe">
    <h6 class="loaiVe"> Vé {{listGhe.loaiGhe}}</h6>
    <p class="price">{{listGhe.groupCinema[0].giaVe}} VNĐ</p>
    <div class="AddGhe row">
        <button class="btnNuss" [ngClass]="{'ticket0':counterValue==0}" [id]="i" (click)="decrement()" (click)="moneyticket()"><i class="fas fa-minus"></i></button>
        <span class="counter">{{counter}}</span>
        <button class="btnPluss"  [id]="i" (click)="increment()" (click)="moneyticket()"><i class="fas fa-plus"></i></button>
<!-- tại vì em làm ngFor nó hoạt động trên 1 cái -->
    </div>
</div>