.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-twitter {
  color: #fff;
  background-color: #55acee;
}
.btn-twitter:hover {
  color: #fff;
  background-color: #59b5fa;
}
.my-sign-up-alert {
  font-size: 0.8rem;
  font-style: italic;
  padding: 5px 10px;
}
.input-group-text {
  width: 50px;
  text-align: center;
  i {
    margin: auto;
  }
}