.my-container01 {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.navbar-nav li:not(:first-child) {
  margin-left: 2rem !important;
}

.myNavBar {
  /* margin-top: 0.1rem;
  margin-bottom: 0.1rem; */
  display: flex;
  justify-content: space-between;
  .myNavBar-left {
    .logoImg a img {
      height: 54.4px;
    }
  }
  .myNavBar-right {
    font-weight: 700;
    // margin-top: 0.5rem;
    /* .navbar-container div:not(:first-child) {
      margin-left: 2rem !important;
    } */
    /* .my-menu {
      display: flex;
    } */

    // quy định màu menu dropdown
    .dropdown-menu {
      top: 120%;
      background-color: black;
      border-bottom: 3px solid #fe7900;
      border-radius: 0px 0px 0px 0px;
      .dropdown-item {
        font-weight: 600;
        color: gray;
      }
      .dropdown-item:hover {
        background-color: black;
        color: #fe7900;
      }
    }
    .dropdown:hover > .dropdown-menu {
      display: block;
    }

    // Without this, clicking will make it sticky
    .dropdown > .my-dropdown-toggle:active {
      pointer-events: none;
    }

    .dropdown > .my-dropdown-toggle {
      color: black;
    }
    /* Change this breakpoint if you change the breakpoint of the navbar */

    @media (min-width: 992px) {
      .animate {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
    }

    @keyframes slideIn {
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
      100% {
        transform: translateY(0rem);
        opacity: 1;
      }
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
    }

    @-webkit-keyframes slideIn {
      0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
      }
      0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
      }
    }

    .slideIn {
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
    }
  }
}
