.my-container01 {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.navbar-nav .nav-link {
  color: black;
}
.navbar-nav li:not(:first-child) {
  margin-left: 2rem !important;
}

.myNavBar {
  /* margin-top: 0.1rem;
  margin-bottom: 0.1rem; */
  display: flex;
  justify-content: space-between;
  .myNavBar-left {
    .logoImg a img {
      height: 54.4px;
    }
  }
  .myNavBar-right {
    font-weight: 700;
    .navbar-text {
      color: gray;
      margin: 0;
    }
    .dropdown.login-btn {
      padding-top: 8px;
      font-size: 1rem;
    }
    // margin-top: 0.5rem;
    /* .navbar-container div:not(:first-child) {
      margin-left: 2rem !important;
    } */
    /* .my-menu {
      display: flex;
    } */

    // quy định màu menu dropdown
    .dropdown-menu {
      top: 110%;
      // background-color: black;
      background-color: rgba(255, 255, 255, 0.8);
      border-bottom: 3px solid #fe7900;
      border-radius: 0px 0px 0px 0px;
      .dropdown-item {
        font-weight: 600;
        // color: gray;
        color: black;
      }
      .dropdown-item:hover {
        // background-color: black;
        background-color: rgba(255, 255, 255, 0.8);
        color: #fe7900;
      }
    }
    .dropdown:hover > .dropdown-menu {
      display: block;
    }

    // Without this, clicking will make it sticky
    .dropdown > .my-dropdown-toggle:active {
      pointer-events: none;
    }

    .dropdown > .my-dropdown-toggle {
      color: black;
    }
    /* Change this breakpoint if you change the breakpoint of the navbar */

    @media (min-width: 992px) {
      .animate {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
    }

    @keyframes slideIn {
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
      100% {
        transform: translateY(0rem);
        opacity: 1;
      }
      0% {
        transform: translateY(1rem);
        opacity: 0;
      }
    }

    @-webkit-keyframes slideIn {
      0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
      }
      0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
      }
    }

    .slideIn {
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
    }
  }
}

// login button
a.dropdown-toggle {
  color: black;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
#login-dp {
  min-width: 350px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
#login-dp.dropdown-menu {
  left: -1000%;
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn.btn-fb {
  margin-right: 5px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
