<div class="container my-my">
  <div
    class="carousel02-header d-flex justify-content-center align-items-center"
  >
    <div class="carousel02-header-wrapper">
      <h2>Top movies in <span>theatres</span></h2>
      <p>at Moviak Cinema & Theatre</p>
    </div>
  </div>
  <!--Carousel Wrapper-->
  <div
    id="multi-item-example"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
    data-interval="5000000"
  >
    <!--Controls-->
    <!-- <div class="controls-top"> -->
    <div class="prev-wrapper">
      <a
        class="carousel-control-prev"
        href="#multi-item-example"
        data-slide="prev"
        ><span class="carousel-control-prev-icon"></span
      ></a>
    </div>
    <div class="next-wrapper">
      <a
        class="carousel-control-next"
        href="#multi-item-example"
        data-slide="next"
        ><span class="carousel-control-next-icon"></span
      ></a>
    </div>
    <!-- </div> -->
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[0][0].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[0][0].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[0][0].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[0][0].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[0][0].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[0][1].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[0][1].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[0][1].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[0][1].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[0][1].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[0][2].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[0][2].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[0][2].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[0][2].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[0][2].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[0][3].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[0][3].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[0][3].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[0][3].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[0][3].tenPhim }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[1][0].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[1][0].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[1][0].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[1][0].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[1][0].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[1][1].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[1][1].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[1][1].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[1][1].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[1][1].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[1][2].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[1][2].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[1][2].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[1][2].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[1][2].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[1][3].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[1][3].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[1][3].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[1][3].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[1][3].tenPhim }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[2][0].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[2][0].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[2][0].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[2][0].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[2][0].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[2][1].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[2][1].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[2][1].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[2][1].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[2][1].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[2][2].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[2][2].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[2][2].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[2][2].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[2][2].tenPhim }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="card-img-top">
                <div class="team-info-item">
                  <div class="team-info-item-img-wrapper">
                    <img [src]="slideList[2][3].hinhAnh" alt="Card image cap" />
                    <div class="team-info-item-img-wrapper-title">
                      <star-rating
                        labelPosition="right"
                        labelText="{{ slideList[2][3].danhGia }}/5"
                        [starType]="svg"
                        [rating]="slideList[2][3].danhGia"
                        [showHalfStars]="true"
                        [readOnly]="true"
                        size="medium"
                      ></star-rating>
                    </div>
                    <div class="team-info-item-img-wrapper-overlay"></div>
                    <div
                      class="team-info-item-img-wrapper-button d-flex justify-content-center"
                    >
                      <a class="d-flex" [href]="slideList[2][3].trailer"
                        ><i class="fas fa-play" aria-hidden="true"></i
                      ></a>
                    </div>
                  </div>
                  <div class="info">
                    <button>BOOK TICKET</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title">{{ slideList[2][3].tenPhim }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Third slide-->
    </div>
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

<!-- original code -->
<!-- 
<div class="container-fluid my-4">
  <div class="container my-4">
    <p class="font-weight-bold">
      Bootstrap carousel multiple items is an improved version of the standard
      bootstrap carousel which allows you to put inside more than one element.
    </p>
    <p>
      <strong
        >Detailed documentation and more examples of Bootstrap grid you can find
        in our
        <a
          href="https://mdbootstrap.com/docs/jquery/javascript/carousel/"
          target="_blank"
          >Bootstrap Carousel Docs</a
        >.</strong
      >
    </p>

    <div
      id="multi-item-example"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <div class="prev-wrapper">
        <a
          class="carousel-control-prev"
          href="#multi-item-example"
          data-slide="prev"
          ><span class="carousel-control-prev-icon"></span
        ></a>
      </div>
      <div class="next-wrapper">
        <a
          class="carousel-control-next"
          href="#multi-item-example"
          data-slide="next"
          ><span class="carousel-control-next-icon"></span
        ></a>
      </div>

      <div>
        <ul class="carousel-indicators">
          <li
            data-target="#multi-item-example"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ul>
      </div>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
