$color-background:#f8f8f8;
$color-backgroundFocus: #dbdbdb;
.Myformat{
    width:auto;
    margin: 0;
    margin-top: 20px;
    background-color: $color-background;
    padding: 0;
    text-align: center;
    img{
        padding-top: 7px;
        margin: auto;
        height: 47px;
        padding-left: 20px;
      
    }
    a{
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
        cursor: pointer;
    }
}
.Myformat:hover{
    background: $color-backgroundFocus;
    color: #000;
}