.Myformat{
    img{
        height: 47px;
    }
    a{
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
        cursor: pointer;
    }
    

}