$colormain:#fe7900;
.details{
    width: 100% !important;
    img{
        position: relative;
        height: 316px;
        width: 100%;
    }
    // .img1 :hover{
    //     background-color: black;
    //     z-index: 1;
    //     cursor: pointer;
    // }
    .namefilm{
        padding-top: 2%;
        height: 52px;
        // text-align: center;
        font-size: 20px;
        color: #202020;
    }
    .datefilm{
        font-size: 15px;
        color: #999999;
    }
    .rate{
        position: absolute;
        top:62%;
        left:70%;
        text-align: left;
        border: solid transparent 1px;
        padding: 10px 0px;
        text-align: center;
        width: 20%;
        background-color: $colormain;
        color: white;
        border-radius: 50%; 
        .size{
            font-size: 10px;
            margin-bottom: 5px;
            margin-right: 1%; 
        }
    }

}
.btnPlay{
    position: absolute;
    left: 40%;
    bottom: 58%;
    z-index: 3;
    .color{
       background-color: $colormain;
       text-align: center;
    }
    .btn-primary{
        background-color:$colormain;
        border: solid $colormain 1px;
    }
}
.btnPlay:hover{
    cursor: pointer;
}
