<ng-container *ngFor="let item of slideItem; let i = index">
  <div class="carousel-item active">
    <div class="row" >
      <ng-container >
        <app-carousel02-item [movieItem]="item"></app-carousel02-item>
      </ng-container>
      <!-- First Item -->
      <!-- <div class="col-md-3">
						<div class="card mb-2">
							<img
								class="card-img-top"
								src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
								alt="Card image cap"
							/>
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">
									Some quick example text to build on the card title and make up the
									bulk of the card's content.
								</p>
								<a class="btn btn-primary">Button</a>
							</div>
						</div>
					</div> -->
      <!-- End of first item -->

      <!-- <div class="col-md-3 clearfix d-none d-md-block">
						<div class="card mb-2">
							<img
								class="card-img-top"
								src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
								alt="Card image cap"
							/>
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">
									Some quick example text to build on the card title and make up the
									bulk of the card's content.
								</p>
								<a class="btn btn-primary">Button</a>
							</div>
						</div>
					</div> -->

      <!-- <div class="col-md-3 clearfix d-none d-md-block">
						<div class="card mb-2">
							<img
								class="card-img-top"
								src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
								alt="Card image cap"
							/>
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">
									Some quick example text to build on the card title and make up the
									bulk of the card's content.
								</p>
								<a class="btn btn-primary">Button</a>
							</div>
						</div>
					</div>
			
					<div class="col-md-3 clearfix d-none d-md-block">
						<div class="card mb-2">
							<img
								class="card-img-top"
								src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
								alt="Card image cap"
							/>
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">
									Some quick example text to build on the card title and make up the
									bulk of the card's content.
								</p>
								<a class="btn btn-primary">Button</a>
							</div>
						</div>
					</div> -->
      <!-- 
					<div class="col-md-3 clearfix d-none d-md-block">
						<div class="card mb-2">
							<img
								class="card-img-top"
								src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
								alt="Card image cap"
							/>
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">
									Some quick example text to build on the card title and make up
									the bulk of the card's content.
								</p>
								<a class="btn btn-primary">Button</a>
							</div>
						</div>
					</div> -->
    </div>
  </div>
  <!--/.First slide-->
</ng-container>
